.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 800px; /* Optimal reading width */
  background-color: rgba(255, 255, 255, 0.9); /* Light background to maintain readability */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(4px); /* Stylish blur effect for modern look */
}

.container h1,.container  h2 {
  color: #f44336; /* Consistent header color with the rest of the site */
  padding: 10px 0;
}

.container p {
  color: #333; /* Dark grey for readable text */
  line-height: 1.6; /* Enhances readability */
  font-size: 16px;
  margin: 10px 0;
  text-align: justify; /* Justified text for a polished look */
}

.container a {
  color: #ff5722; /* Link color matching the theme */
  text-decoration: none;
  transition: color 0.3s;
}

.container a:hover {
  color: #f44336; /* Link hover effect for user interaction */
  text-decoration: underline; /* Underline on hover for clarity */
}
