.container {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    width: 200px;   
    margin: 5px;
}
.link {
    margin: 20px;
    background-color:   rgb(243, 243, 243);
    border: 2px grey solid;
    border-radius: 10px;
    text-align: center;
    width: auto;
    padding: 20px;
}

.formGroup {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    padding: 10px;
    transition: .5s;
}

.formGroup>input {
    background-color: var(--color-text);
    outline: none;
    border: 3px solid white;
    padding: 5px;
    
}

.formGroup>input:focus {
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0.281);
}


.loginForm {
    background-color: rgb(228, 228, 228);
    width: 50vw;
    padding: 10px;
    border: 2px grey solid;
}


.loginButton {
    margin: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0.281);;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
}

.loginButton:hover {
    transform: scale(1.1);
    background-color: antiquewhite;
}