.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.formGroup label {
    flex: 1; /* Allows each label to take equal space in the flex container */
    margin-right: 10px; /* Adds some spacing between the label and the input */
}

.formGroup input[type="text"],
.formGroup input[type="number"] {
    width: calc(50% - 20px); /* Adjusts width to account for margin and ensures alignment */
    padding: 8px;
    margin-top: 0; /* Removes margin top for alignment purposes */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="number"]:focus {
    border-color: #f44336;
    outline: none;
}

.typeContainer, .regionContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.addButton {
    background-color: #32de8a; /* Different color to distinguish 'Add' button */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addButton:hover {
    background-color: #28b472;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: auto;
    max-width: 600px; /* Manageable width for form elements */
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px); /* Modern look with a blurred background */
}

.form label {
    font-size: 18px;
    color: #333; /* Dark gray for clear visibility */
    margin-bottom: 10px;
    width: 100%;
}

.form input[type="text"],
.form input[type="number"],
.form textarea {
    width: 100%; /* Full width for better control */
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #ccc; /* Subtle border */
    border-radius: 4px;
    font-size: 16px;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form textarea:focus {
    border-color: #f44336; /* Red border on focus for visibility */
    outline: none;
}

.form button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f44336; /* Consistent red theme for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #d32f2f; /* Darker shade on hover */
}

.submitButton {
    margin-top: 30px; /* Additional space from the last input to the submit button */
}
